<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hand Gesture Recognition</title>
    <link rel="stylesheet" href="static\styles.css">

</head>
<body>
    <h1>Hand Gesture Recognition</h1>
    <div id="container">
        <div>
            <div id="video">
                <img src="{{ url_for('video_feed') }}" width="640" />
                <div>
                    <button id="start-btn">Start</button>
                    <button id="stop-btn">Stop</button>
                </div>
            </div>
            <div id="result-box">
                <strong>Prediction:</strong>
                <span id="prediction">-</span>
            </div>
        </div>
        <div id="gesture-images">
            <div class="gesture-row">
                <div>
                    <div class="gesture-label">Hello</div>
                    <img class="gesture-img" src="static/images/hello.avif" alt="Hello Gesture">
                </div>
                <div>
                    <div class="gesture-label">All The Best</div>
                    <img class="gesture-img" src="static/images/allthebest.jpg" alt="All The Best Gesture">
                </div>
            </div>
            <div class="gesture-row">
                <div>
                    <div class="gesture-label">Peace</div>
                    <img class="gesture-img" src="static/images/peace.jpg" alt="Peace Gesture">
                </div>
                <div>
                    <div class="gesture-label">Call Me</div>
                    <img class="gesture-img" src="static/images/callme.jpg" alt="Call Me Gesture">
                </div>
            </div>
            <div class="gesture-row center">
                <div>
                    <div class="gesture-label">Nice</div>
                    <img class="gesture-img" src="static/images/nice.jpg" alt="Nice Gesture">
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('start-btn').onclick = function() {
            fetch('/toggle_recording', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({command: 'start'})
            });
        };
        document.getElementById('stop-btn').onclick = function() {
            fetch('/toggle_recording', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({command: 'stop'})
            });
        };
        // Poll for prediction result every 500ms
        setInterval(function() {
            fetch('/result')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('prediction').textContent = data.result || '-';
                });
        }, 500);
    </script>
</body>
</html>
